# This should be your .env.example file
# Copy this file contents to your created `.env.local` and 
# fill in your actual database credentials.
# This example uses PostgreSQL, but any SQL database with a connection URL works.

# ---------------------------------------
# DATABASE CONNECTION
# ---------------------------------------

# Supabase Database
NEXT_PUBLIC_SUPABASE_URL=DATA_API_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=API_KEYS_LEGACY_ANON_PUBLIC

# Twilio API Credentials
TWILIO_ACCOUNT_SID="TWILIO_ACCOUNT_SID"
TWILIO_AUTH_TOKEN="TWILIO_AUTH_TOKEN"

# Twilio Phone Number
TWILIO_PHONE_NUMBER="+TWILIO_PHONE_NUMBER"